body::before {
    content: '';
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    z-index: 1;
    display: flex;
    justify-content: center;
    font-size: 52px;
    line-height: 102px;
}

.selecao-filhotes {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    gap: 12px;
}


